html {
    scroll-behavior: smooth;
  }
  inline-block{
      display: inline-block;
      vertical-align: top;
  }
  .navigation{
    display: flex;
    background-color: #B9AE9F;
  }
  .logo{
      width: 23%;
      padding: 1%;
      text-align: center;
  
  }
  nav{
      width: 73%;
      padding: 1%;
  
  }
  a{
      width: 25%;
      margin-left: auto;
      padding: 2%;
  }
card-deck{
    display: flex;
    padding: 1%;
}

.card mb-3{
    align-content: center;
    padding:15%
}
.card-img-top{
   object-fit: contain;
}

.footer{
        background-color: #B9AE9F;
        padding: 2%;
        color:azure;
        }
li{
    display:inline;
    padding: 8%;    
}

